$well-bg: rgba(236, 240, 241,1.0);
$navbar-default-bg: rgba(44, 62, 80,0.7);
$navbar-default-link-color: rgba(236, 240, 241,1.0);
$navbar-default-link-hover-color: rgba(236, 240, 241,0.4);

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: rgba(41, 128, 185,1.0);
    font-family: 'Quicksand';
    padding-top: 60px;
}

h1 {
    font-weight: bold;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

td, th {
    padding: 10px;
}

.menu_links {
    border-bottom: 2px solid transparent;
}

.menu_links:hover {
    border-bottom: 2px solid rgba(26, 188, 156,1.0);
}